# Discord bot token
TOKEN=

# Discord client ID
CLIENT_ID=

# Discord secret
CLIENT_SECRET=

# Url to your database, i recommend a postgres database
DATABASE_URL=

# Enviornment, production or development
ENVIRONMENT=

# This webhook is for where user feedback gets sent to
SURVEY_WEBHOOK=
